@import url("https://fonts.googleapis.com/css?family=Unica+One");
/*Colors*/
/*Gradients and Fills */




.sky-bright {
    stop-color: #d1f3fa;
}
.sky-dark {
    stop-color: #70b4c2;
}
.beam-gradient {
    stop-color: #e9fef6;
}
.ocean-surface {
    fill: #ade0eb;
}
.ocean-shallow {
    stop-color: #9fc2ca;
}
.ocean-deep {
    stop-color: #306b98;
}
.ice {
    fill: #f6f6ff;
}
.ice-dark {
    fill: #d7eef2;
}
.ice-shade {
    fill: #e8f7f9;
}
/*Light Beams*/

@-webkit-keyframes beams {
    100% {
        opacity: 0.8;
    }
}
@keyframes beams {
    100% {
        opacity: 0.8;
    }
}
.beam {
    opacity: 0;
    -webkit-animation: beams 4s both infinite alternate;
    animation: beams 4s both infinite alternate;
}
.beam:nth-child(1) {
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}
.beam:nth-child(2) {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
}
.beam:nth-child(3) {
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
}
.beam:nth-child(4) {
    -webkit-animation-delay: -8s;
    animation-delay: -8s;
}
.beam:nth-child(5) {
    -webkit-animation-delay: -10s;
    animation-delay: -10s;
}
.beam:nth-child(6) {
    -webkit-animation-delay: -12s;
    animation-delay: -12s;
}
.beam:nth-child(7) {
    -webkit-animation-delay: -14s;
    animation-delay: -14s;
}
.beam:nth-child(8) {
    -webkit-animation-delay: -16s;
    animation-delay: -16s;
}
.beam:nth-child(9) {
    -webkit-animation-delay: -18s;
    animation-delay: -18s;
}
.beam:nth-child(10) {
    -webkit-animation-delay: -20s;
    animation-delay: -20s;
}
.beam:nth-child(11) {
    -webkit-animation-delay: -22s;
    animation-delay: -22s;
}
.beam:nth-child(12) {
    -webkit-animation-delay: -24s;
    animation-delay: -24s;
}
.beam:nth-child(13) {
    -webkit-animation-delay: -26s;
    animation-delay: -26s;
}
.beam:nth-child(14) {
    -webkit-animation-delay: -28s;
    animation-delay: -28s;
}
/*Waves-Movements*/

.wave {
    -webkit-animation: waves-move 5s infinite linear;
    animation: waves-move 5s infinite linear;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}
.reverse {
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
@-webkit-keyframes waves-move {
    100% {
        -webkit-transform: translate(500px, 0);
        transform: translate(500px, 0);
    }
}
@keyframes waves-move {
    100% {
        -webkit-transform: translate(500px, 0);
        transform: translate(500px, 0);
    }
}
/*Ice Berg Animation*/

.ice-berg {
    -webkit-transform: rotate(-2deg) translate(0, 0);
    transform: rotate(-2deg) translate(0, 0);
    -webkit-transform-origin: 400px 400px;
    transform-origin: 400px 400px;
    -webkit-animation: ice-berg 3s ease-in-out infinite alternate;
    animation: ice-berg 3s ease-in-out infinite alternate;
}
@-webkit-keyframes ice-berg {
    100% {
        -webkit-transform: rotate(2deg) translate(10px, 30px);
        transform: rotate(2deg) translate(10px, 30px);
    }
}
@keyframes ice-berg {
    100% {
        -webkit-transform: rotate(2deg) translate(10px, 30px);
        transform: rotate(2deg) translate(10px, 30px);
    }
}
@-webkit-keyframes ice-berg {
    0% {
    opacity: 0; /*初始状态 透明度为0*/
    }
    50%{
    opacity: 0; /*中间状态 透明度为0*/
    }
    100% {
    opacity: 1; /*结尾状态 透明度为1*/
    }
    }
    

    
/*Body Setup*/

body {
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.title {
    height: 10vh;
    line-height: 10vh;
    font-size: 8vh;
    padding: 2.5vh;
    margin: 0;
    color: #6b572e;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-family: 'Unica One', cursive;
}
.world {
    width: 98.8vw;
    height: 150vh;
    vertical-align: bottom;
}